<!DOCTYPE html>
<html lang="en">
<head>
  <title>Burger Town</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/menu.json"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <!--<script src="js/js_script.js" defer></script>-->
  <script src="js/vue_script.js" defer></script>
</head>
<body>
  <main id="main">
    <section id="header">
      <img id="headerimg" src ="img/banner.jpeg">
      <h1>Burger Town</h1>
    </section>
    <section id="burgers">
      <h2>Select a burger</h2>
      <p>In this section you select a burger</p>
      <div id="menu" class="wrapper">
        <div v-for="burger in menuArray">
          <input type="checkbox" id="burgerCheckbox" v-model="ordered" v-bind:name="burger.name" :value="burger.name" >
          {{burger.name}}
          <img class="burgimg" v-bind:src="burger.imgPath"></img>
          <ul>
            <li>{{burger.kCal}}</li>
            <li v-if="burger.otherInfo != ''">{{burger.otherInfo}}</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="customerinfo">

      <h2>Customer information</h2>
      <p>In this section you enter for example the delivery address and your prefered method of payment</p>

      <h3>Delivery information:</h3>
      <form>
        <p>
          <label for="firstname"></label>Full name<br/>
          <input v-model="firstname" type="text" id="firstname" name="name" required="required" placeholder="First- and Last name name"/>
        </p>
        <p>
          <label for="mail"></label>E-mail<br/>
          <input v-model="mail" type="text" id="mail" name="mail" required="required" placeholder="E-mail address"/>
        </p>
        <p>
        <label for="payment"></label>Payment method<br/>
        <select v-model="payment" id="payment" name = "pay">
          <option selected="selected">Credit card</option>
          <option>Paypal</option>
          <option>Cash</option>
        </select>
      </p>
      <p>
        <label></label>Gender<br/>
        <input type="radio" id="male" value="male" name="gen" v-model="picked"/>
        <label for="male">Male</label><br/>
        <input type="radio" id="female" value="female" name="gen"v-model="picked"/>
        <label for="female">Female</label></br>
        <input type="radio" id="non-binary" value="non-binary" name="gen"v-model="picked"/>
        <label for="non-binary">Non-binary</label><br/>
        <input type="radio" id="undisclosed" value="undisclosed" name="gen" checked="checked"v-model="picked"/>
        <label for="undisclosed">Undisclosed</label>
      </p>
      <div class="view-box">
        <div id="dots" v-on:click="displayOrder">
          <div
          v-if = "order != null"
          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
          T
        </div>
      </div>
    </div>
  </form>
  <button id="send" type="submit" v-on:click="send()"><image src="img/pizza.png" width="20"/>Place order</button>
  {{result}}
</section>
</main>
<footer>&copy Burger Town Inc.</footer>
</body>
</html>
