<!DOCTYPE html>
<html lang="en">
<head>
  <title>Burger Town</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://vuejs.org/js/vue.js"></script>
  <main>
    <section id="header">
      <img id="headerimg" src ="img/banner.jpeg">
      <h1>Burger Town</h1>
    </section>
    <section id="burgers">
      <h2>Select a burger</h2>
      <p>In this section you select a burger</p>
      <div id="menu" class="wrapper">
        <div v-for="burger in menuArray">
          {{burger.name}}
          <ul>
            <li>{{burger.kCal}}</li>
            <li v-if="burger.otherInfo != ''">{{burger.otherInfo}}</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="customerinfo">

      <h2>Customer information</h2>
      <p>In this section you enter for example the delivery address and your prefered method of payment</p>

      <h3>Delivery information:</h3>
      <form>
        <p>
          <label for="firstname"></label>Full name<br/>
          <input type="text" id="firstname" name="fn" required="required" placeholder="First- and Last name name"/>
        </p>
        <p>
          <label for="mail"></label>E-mail<br/>
          <input type="text" id="mail" name="mail" required="required" placeholder="E-mail address"/>
        </p>
        <p>
          <label for="street"></label>Street<br/>
          <input type="text" id="street" name="street" required="required" placeholder="Street name"/>
        </p>
        <p>
          <label for="num"></label>House<br/>
          <input type="text" id="num" name="num" required="required" placeholder="House number"/>
        </p>
        <p>
          <label for="payment"></label>Payment method<br/>
          <select id="payment" name = "pay">
            <option selected="selected">Credit card</option>
            <option>Paypal</option>
            <option>Cash</option>
          </select>
        </p>
        <p>
          <label></label>Gender<br/>
          <input type="radio" id="male" name="gen"/>
          <label for="male">Male</label><br/>
          <input type="radio" id="female" name="gen"/>
          <label for="female">Female</label></br>
          <input type="radio" id="non-binary" name="gen"/>
          <label for="non-binary">Non-binary</label><br/>
          <input type="radio" id="undisclosed" name="gen" checked="checked"/>
          <label for="undisclosed">Undisclosed</label>
        </p>
      </form>
      <button type="submit"><image src="img/pizza.png" width="20"/>Place order</button>
    </section>
  </main>
  <footer>&copy Burger Town Inc.</footer>
  <script src="js/js_script.js"></script>
  <!--- ><script src="js/vue_script.js"></script> -->
</body>
</html>
