@import 'https://fonts.googleapis.com/css?family=Signika';

body{
  font-family: "Signika", sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
}

button:hover{
  background-color: gray;
  cursor: pointer;
}

table{
    width: 100%;
    margin: 0 auto;
}

.burgimg{
  width: 32vw;
  height: 40vh;
}

.allergy{
  font-weight: bold;
}

#burgers table{
  background-color: black;
  color: white;
}

#customerinfo{

}
